<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
    <h2>E-mail <%= @order.email %></h2>
    <h3>CAD $<%= @order.total %></h3>
    <h3>Line Item <%= @order.line_items.product %></h3>



  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
