<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
    <h2>E-mail <%= @order.email %></h2>
    <h3>CAD $<%= @order.total %></h3>
<table class="table table-bordered">
   <tr>
          <th>Item</th>
          <th>Product</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quanity</th>
          <th>Total</th>    
        </tr>
      </thead>
   <tbody>
        <% @order.line_items.each do |line_item| %>
        <tr><td>
            <%=line_item.product.name %>
        </td>
        <td>
            <%=image_tag line_item.product.image.tiny %>
        </td>
        <td>
            <%=line_item.product.description %>
        </td>
            <td>
            <%= line_item.item_price  %>
        </td>
        <td>
            <%=line_item.quantity %>
        </td>
        <td>
            <%= line_item.item_price * line_item.quantity %>
        </td>

         </tr>
         
        <% end %>
      </tbody>
</table>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
